---
import { CardPlayButton } from "@/components/CardPlayButton";
import Layout from "@/layouts/Layout.astro";
import MusicsTable from "@/components/MusicTableRow";

import { allPlaylists, songs } from "@/lib/data";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);

const playlistColor = playlist?.color.accent;

let playlistDuration = 0;

for (const song of playListSongs) {
  const arrTime = song.duration
    .split(":")
    .map((item) => parseInt(item))
    .reverse();

  if (arrTime.length === 1) playlistDuration += arrTime[0];
  else if (arrTime.length === 2)
    playlistDuration += arrTime[0] + arrTime[1] * 60;
  else if (arrTime.length === 3)
    playlistDuration += arrTime[0] + arrTime[1] * 60 + arrTime[2] * 60 * 60;
  else playlistDuration += 0;
}

const formatDuration = (duration: number): string => {
  const minutes = Math.floor((duration % 3600) / 60);
  const hours = Math.floor(duration / 3600);

  if (duration < 3600) return `${minutes} min`;

  return `${hours} h`;
};
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    style=`--page-color:${playlistColor}`
    class="relative min-h-fit flex flex-col overflow-x-hidden z-10 bg-page"
  >
    <!--<PageHeader />-->
    <header class="flex flex-row gap-8 px-6 mt-12">
      <picture class="aspect-square w-52 h-52 flex-none relative">
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="object-cover w-full h-full shadow-lg block"
          transition:name=`playlist ${id} box`
        />
      </picture>

      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end">Playlist</h2>
        <div>
          <h1 class="text-5xl font-bold block text-white">
            {playlist?.title}
            <span></span>
          </h1>
        </div>
        <div class="flex flex-1 items-end">
          <div class="text-sm text-gray-300 font-normal">
            <div>
              <span>{playlist?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playListSongs.length} canciones</span>,
              {formatDuration(playlistDuration)} aproximadamente
            </p>
          </div>
        </div>
      </div>
    </header>

    <div class="px-6 py-3 mt-2">
      <CardPlayButton client:load id={id} size="large" />
    </div>

    <section class="p-6 mt-2">
      <MusicsTable client:load songs={playListSongs} />
    </section>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]"
    >
    </div>
  </div>
</Layout>
